div {
    text-align: center;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    display: table-cell;
}
div,
body,
html {
    height: 95%;
    width: 95%;
}
body{
    display: table;
    height:100%;
    width: 100%;
}
